--fields=+l

--options={{cwd}}/ctags/deps/ctags-patterns-for-javascript/.ctags
--options={{cwd}}/ctags/deps/elixir-ctags/.ctags

--python-kinds=-iv

--regex-make=/^([^# \t]*):/\1/t,target/

--exclude=dump
--exclude=dump_json
--exclude=tmp
