[user]
    name = {{firstName}} {{lastName}}
    email = {{email}}
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    ci = commit
    co = checkout
    fp = format-patch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset %Cgreen(%cr)' --abbrev-commit
[core]
    editor = /usr/local/bin/vim
    autocrlf = input
    #pager = cat
# [merge]
    # tool = opendiff
