[user]
    name = {{firstName}} {{lastName}}
    email = {{email}}
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    ci = commit
    co = checkout
    fp = format-patch
    lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
[core]
    editor = /usr/local/bin/vim
    autocrlf = input
    #pager = cat
# [merge]
    # tool = opendiff
