###
# MacOSX
###
.DS_Store
.localized

###
# Git merge files
###
*.orig

###
# system SWAP, TMP and BACKUP files
###
*~
*.swp
*.bak

###
# Compiled files
###
git/gitconfig
ctags/ctags.d/main.ctags

###
# Deps folders
###
ctags/deps/
